/* ------- roboto fonts ------- */

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto-black-webfont.eot');
    src: url('../fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-black-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto/roboto-blackitalic_2-webfont.eot');
    src: url('../fonts/roboto/roboto-blackitalic_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-blackitalic_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-blackitalic_2-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-blackitalic_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-blackitalic_2-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto/roboto-blackitalic-webfont.eot');
    src: url('../fonts/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-blackitalic-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic_2-webfont.eot');
    src: url('../fonts/roboto/roboto-bolditalic_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-bolditalic_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bolditalic_2-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-bolditalic_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-bolditalic_2-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic_2-webfont.eot');
    src: url('../fonts/roboto/roboto-lightitalic_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-lightitalic_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-lightitalic_2-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-lightitalic_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-lightitalic_2-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.eot');
    src: url('../fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
    url('../fonts/roboto/roboto-thin-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ------- robotocondensed fonts ------- */

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/roboto-condensed/robotocondensed-bold-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-bold-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-bold-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/roboto-condensed/robotocondensed-italic-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-italic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-italic-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-italic-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-light_2-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto-condensed/robotocondensed-light-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-light-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-light-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic_2-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto-condensed/robotocondensed-regular-webfont.eot');
    src: url('../fonts/roboto-condensed/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../fonts/roboto-condensed/robotocondensed-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-condensed/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-condensed/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}