.browserhappy {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 50px;
  border-bottom: 2px solid #ccc;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  background: #eee;
}

.container {
  display: flex;
  width: 960px;
  margin: auto;

  &_base {
    display: flex;
    flex-grow: 1;
    background: rgba(46, 54, 65, .6);
  }

  &_side {
    flex-shrink: 0;
    background: #f1f1f5;
  }
}

.uploader-label {
  font-size: 14px;
  margin: 0 0 7px 0;
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_block {
    flex-shrink: 0;
  }

  &_spinner {
    margin-bottom: 10px;

    &:last-child {
      margin: 0;
    }
  }
}


.wm-area,
.wm {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.wm-image {
  width: inherit;
}

.wm {
  z-index: 100;
}