.aside-wrapper {
  position: fixed;
  top: 30%;
  left: 0;
}

.language {
  margin-bottom: 10px;

  &_item {
    border-bottom: 1px solid #a5a7ab;

    &:last-child {
      border: 0;
    }
  }

  &_link {
    display: block;
    width: 43px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(214, 213, 215, 0.8);
    color: #989ba0;

    &:hover {
      color: #4f555d;
    }
  }
}

.social {
  position: relative;
  transform: translateX(-100%);
  transition: 0.3s;

  &_handle {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
  }

  &_item {
    position: relative;
  }

  &_item a,
  &_link {
    display: block;
    width: 43px;
    background-color: rgba(214, 213, 215, 0.8);
    color: #989ba0;
  }

  &:hover {
    transform: translateX(0);
  }
}

// ------------ Styles are changed default yashare icons styles --------------

.social {
  .b-share__handle {
    float: none;
    padding: 21px 5px !important;

    .b-share-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background: none;
    }
  }

  .b-share {
    padding: 0!important;
  }
}

