.aside-wrapper {
  position: fixed;
  top: 30%;
  left: 0;
}

.language,
.socials {

  &_link {
    display: block;
    width: 43px;
    overflow: hidden;
    padding: 10px 5px;
    background-color: rgba(214, 213, 215, 0.8);
    color: #989ba0;
    text-decoration: none;
  }
}

.language {
  margin-bottom: 18px;

  &_link {

    &:first-child {
      border-bottom: 1px solid #a5a7ab;
    }
    
    &:hover {
      color: #4f555d;
    }
  }
}

.socials {
  @extend %clearfix;
  position: relative;
  transform: translateX(-100%);
  transition: 0.3s;

  &:hover {
    transform: translateX(0);

    .general {
      @extend .general-hover;
    }
  }

  &_link {
    padding: 21px 5px;

    &-facebook {
      @extend .facebook;

      &:hover {
        @extend .facebook-hover;
      }
    }

    &-twitter {
      @extend .twitter;

      &:hover {
        @extend .twitter-hover;
      }
    }

    &-vk {
      @extend .vk;

      &:hover {
        @extend .vk-hover;
      }
    }
  }

  &_general {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
  }

  &_general {
    @extend .language_link;
    @extend .general;
    float: right;
    padding-bottom: 30px;

    &:first-child {
      border: none;
    }
  }
}
