.control {
  width: 261px;

  &_title {
    padding: 23px 10px 17px;
    text-align: center;
    font-size: 26px;
  }

  &_block {
    position: relative;
    padding: 15px 21px 31px;
    border-bottom: 1px solid #f4c3c2;
    
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #f4c3c2;
    }

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-top-color: #f1f1f5;
      z-index: 1;
    }
  }

  &_block-title {
    margin: 0 0 35px 0;
    font-size: 14px;
  }

  &_button {

    &-group {
        @extend %clearfix;
        padding: 50px 20px 0;
    }

    &-reset, &-download {
      padding: 10px 5px;
      min-width: 100px;
      border: 0;
      border-radius:3px;
      text-align: center;
      color: #ffffff;
    }

    &-reset {
      float: left;
      background: #c1cfd9;

      &:hover {
        background: linear-gradient(to bottom, #afbcc5, #c1ced8);
      }
    }

    &-download {
      float: right;
      background: #f97e76;

      &:hover {
        background: linear-gradient(to bottom, #ed7970, #f87d75);
      }
    }
  }
}





