.icon-40 a,
.icon_like {
  width: 40px;
  height: 36px;
  background-image: url('/assets/img/sprites.png');
  background-repeat: no-repeat;
}

.icon_facebook a {
  background-position: 5px 5px;

  &:hover {
    background-position: 5px -40px;
  }
}

.icon_like {
  background-position: 5px -98px;

  &:hover {
    background-position: 5px -145px;
  }
}

.icon_twitter a {
  background-position: -45px 6px;

  &:hover {
    background-position: -45px -41px;
  }
}

.icon_vk a {
  background-position: -93px 3px;

  &:hover {
    background-position: -93px -47px;
  }
}


// ----------- switch mode buttons -----------

.icon_switch-mode {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('/assets/img/sprites.png') no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}

.tiling-mode {
  background-position: -106px -128px;

  &:hover,
  &.active {
    background-position: -106px -152px;
  }
}
.single-mode {
  margin-left: 10px;
  background-position: -105px -82px;

  &:hover,
  &.active {
    background-position: -105px -105px;
  }
}