.position-area {
  $partSize: 34;

  @extend %clearfix;
  position: relative;
  width: ($partSize * 3) * 1px;
  padding: 1px 0 0 1px;

  &_main-line,
  &_cross-line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f97e76;
  }

  &_main-line {
    width: 0;
    max-width: 100%;
    margin: auto;
  }

  &_cross-line {
    right: 2px;
    height: 0;
    max-height: 100%;
    margin: auto;
  }

  a {
    float: left;
    width: $partSize * 1px;
    height: $partSize * 1px;
    border: 1px solid #9eb2c0;
    background: #dbe1e8;
    margin: -1px 0 0 -1px;

    &:hover:not(.position-area--current) {
      background: darken(#dbe1e8, 5%);
    }

    &.position-area--current {
      background: #f97e76;
    }
  }
}