.range {
  $height: 3;

  position: relative;
  height: $height * 1px;
  background: #dbe1e8;

  &_progress {
    height: $height * 1px;
    width: 0;
    max-width: 100%;
    background: #9eb2c0;
  }

  &_handle {
    $size: 22;

    position: absolute;
    left: -($size / 2) * 1px;
    top: 50%;

    width: $size * 1px;
    height: $size * 1px;
    margin-top: -($size / 2) * 1px;

    text-align: center;

    border-radius: ($size / 2) * 1px;
    background: #dbe1e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-top: 7px;
      background: #9eb2c0;
      border-radius: 4px;
      transition: background 0.2s;
    }

    &--active {

      &:before {
        background: #f97e76;
      }
    }
  }
}