.spinner {
  position: relative;
  padding-right: 0;
  width: 80px;

  &_axis,
  &_control,
  &_input {
    display: inline-block;
    vertical-align: middle;
  }

  &_axis {
    font-size: 16px;
    padding-right: 3px;
  }

  &_input {
    width: 45px;
    height: 45px;
    padding: 0 3px;
    border: 1px solid #9eb2c0;
    text-align: center;
    font: 22px 'roboto_light';
    color: #444a53;
    background: transparent;
    border-radius: 2px;
  }
}

.ui-spinner-button {
  position: absolute;
  text-indent: 99999px;
  display: block;
  overflow: hidden;
  width: 13px;
  height: 8px;
  right: 0;
  cursor: pointer;
  background: url(/assets/img/spinner-arrows.png) no-repeat 0 0; 
}

.ui-spinner-up {
  top: 5px;
  background-position: -13px -9px; 
}

.ui-spinner-up:hover {
  background-position: 0 0; 
}

.ui-spinner-down {
  bottom: 5px;
  background-position: 0 -9px; 
}

.ui-spinner-down:hover {
  background-position: -13px 0; 
}