.uploader {
  $height: 27;

  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 0 23px 0;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  &_field {
    flex-grow: 1;
    height: $height * 1px;
    padding: 0 4px;
    border: 1px solid #9eb2c0;
    border-right: 0;
    border-radius: 3px 0 0 3px;

    font-size: 12px;
    line-height: $height - 2px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #9eb2c0;
  }

  &_input {
    position: absolute;
    right: 110%;
    visibility: hidden
  }

  &_button {
    flex-shrink: 0;
    height: $height * 1px;
    width: 40px;
    background: #f97e76 url('/assets/img/sprites.png') -45px -105px;
    border-radius: 0 3px 3px 0;
  }
}


.bar {
  height: 2px;
  background: green;
}


