.workspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 23px 25px;
  flex: auto;

  &_header {
    margin: 0 0 56px 0;
  }

  &_title {
    font-size: 33px;
    color: #fff;
  }

  &_board {
    position: relative;
    overflow: hidden;
    height: 535px;
    background: #fff url('/assets/img/bg_transparency.jpg');
  }
}