.aside-wrapper
    ul.language
        li.language_item
            a.language_link.language_link--current(href="#") рус
        li.language_item
            a.language_link(href="#") eng
    .social
        a.social_link.social_handle.icon-40.icon_like(href)
        ul.icon_list
            li.social_item.icon_item.icon-40.icon_facebook(data-yasharetype="none" data-yasharequickservices="facebook" class="yashare-auto-init")
            li.social_item.icon_item.icon-40.icon_twitter(data-yasharetype="none" data-yasharequickservices="twitter" class="yashare-auto-init")
            li.social_item.icon_item.icon-40.icon_vk(data-yasharetype="none" data-yasharequickservices="vkontakte" class="yashare-auto-init")