.aside-wrapper
    ul.language
        li.language_item
            a.language_link(href="#") рус
        li.language_item
            a.language_link(href="#") eng
    .social
        a.social_link.social_handle.icon-40.icon_like(href)
        a.social_link.icon_link.icon-40.icon_facebook(href)
        a.social_link.icon_link.icon-40.icon_twitter(href)
        a.social_link.icon_link.icon-40.icon_vk(href)