.demo
  label
    div image
    select#demo-select-image
      option(value="2000x1000") 2000x1000
      option(value="600x600") 600x600
      option(value="500x331") 500x331
      option(value="256x256") 256x256
    button#demo-button-image Применить
  label
    div watermark
    select#demo-select-wm
      option(value="600x600") 600x600
      option(value="2000x1000") 2000x1000
      option(value="500x331") 500x331
      option(value="256x256") 256x256
    button#demo-button-wm Применить