head
  meta(charset='utf-8')
  title Watermark Generator
  meta(content='', name='author')
  meta(content='', name='description')
  meta(content='', name='keywords')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(content='ie=edge', http-equiv='x-ua-compatible')
  link(rel="icon" href="/assets/img/favicon.jpg" type="image/x-icon")
  link(rel='stylesheet', href='/assets/css/app%=suffix=%.css%=version=%')