script(src='/assets/js/vendor.js%=version=%')
script(src='/assets/js/core.js%=version=%')
script(src='/assets/js/ui.js%=version=%')
script(src='/assets/js/init.js%=version=%')
script(src="http://yastatic.net/share/share.js")
