.sector
    a.sector--current(href="" data-step-x="0" data-step-y="0")
    a(href="" data-step-x="1" data-step-y="0")
    a(href="" data-step-x="2" data-step-y="0")
    a(href="" data-step-x="0" data-step-y="1")
    a(href="" data-step-x="1" data-step-y="1")
    a(href="" data-step-x="2" data-step-y="1")
    a(href="" data-step-x="0" data-step-y="2")
    a(href="" data-step-x="1" data-step-y="2")
    a(href="" data-step-x="2" data-step-y="2")
    .sector_cross
        .sector_line-x
        .sector_line-y