html
  include _head
  body
    <!--[if lt IE 10]>
    <p class="browserhappy">Вы используете устаревший браузер. <br> Пожалуйста <a href='http://browsehappy.com/'>обновите его.</a></p>
    <![endif]-->

    main.container
        .container_base
            .workspace
                h1.workspace_header
                    span.workspace_title Генератор водяных знаков
                .workspace_board
        .container_side
            .control
                .control_title Настройки
                .control_block
                    .uploader-label Исходное изображение
                    label.uploader
                        .uploader_field Изображение отсутствует
                        a.uploader_button
                        input.uploader_input(type="file")
                    #progress
                        .bar(style="width: 0%")

                    .uploader-label Водяной знак
                    label.uploader
                        .uploader_field Изображение отсутствует
                        a.uploader_button
                        input.uploader_input(type="file")
                .control_block
                    .control_block-title Положение
                    .position
                        .position_block

                            .position-area
                                a.position-area--current(href="#" data-step-x="0" data-step-y="0")
                                a(href="#" data-step-x="1" data-step-y="0")
                                a(href="#" data-step-x="2" data-step-y="0")
                                a(href="#" data-step-x="0" data-step-y="1")
                                a(href="#" data-step-x="1" data-step-y="1")
                                a(href="#" data-step-x="2" data-step-y="1")
                                a(href="#" data-step-x="0" data-step-y="2")
                                a(href="#" data-step-x="1" data-step-y="2")
                                a(href="#" data-step-x="2" data-step-y="2")
                                .position-area_cross-line
                                .position-area_main-line

                        .position_block
                            .position_spinner
                                .spinner
                                    .spinner_axis X
                                    input.spinner_input(type="text" id="spinnerHorizont")

                            .position_spinner
                                .spinner
                                    .spinner_axis Y
                                    input.spinner_input(type="text" id="spinnerVertical")

                .control_block
                    .control_block-title Прозрачность
                    include _range
                .control_button-group
                    button.control_button-reset Сброс
                    button.control_button-download Скачать

    include _aside-wrapper
    include _demo-control
    include _footer
    include _scripts