html
  head
    meta(charset='utf-8')
    title Watermark Generator
    meta(content='', name='author')
    meta(content='', name='description')
    meta(content='', name='keywords')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    // favicon block start
    // favicon block end
    link(rel='stylesheet', href='/assets/css/app%=suffix=%.css%=version=%')
  body
    <!--[if lt IE 10]>
    <p class="browserhappy">Вы используете устаревший браузер. <br> Пожалуйста <a href='http://browsehappy.com/'>обновите его.</a></p>
    <![endif]-->

    include _demo-control
    
    main.container
        .container_base
            .workspace
                h1.workspace_header
                    span.workspace_title Генератор водяных знаков
                .workspace_board
        .container_side
            .control
                .control_title Настройки
                .control_block
                    .uploader-label Исходное изображение
                    label.uploader
                        .uploader_field Изображение отсутствует
                        a.uploader_button
                        input.uploader_input(type="file")
                    #progress
                        .bar(style="width: 0%")

                    .uploader-label Водяной знак
                    label.uploader
                        .uploader_field Изображение отсутствует
                        a.uploader_button
                        input.uploader_input(type="file")
                .control_block
                    .control_block-title Положение
                    .position
                        .position_block
                            .position-area
                                a.position-area--current(href="#" data-step-x="0" data-step-y="0")
                                a(href="#" data-step-x="1" data-step-y="0")
                                a(href="#" data-step-x="2" data-step-y="0")
                                a(href="#" data-step-x="0" data-step-y="1")
                                a(href="#" data-step-x="1" data-step-y="1")
                                a(href="#" data-step-x="2" data-step-y="1")
                                a(href="#" data-step-x="0" data-step-y="2")
                                a(href="#" data-step-x="2" data-step-y="2")
                                a(href="#" data-step-x="2" data-step-y="2")
                        .position_block
                            .position_spinner
                                .spinner
                                    .spinner_axis X
                                    input.spinner_input(type="text")
                                    .spinner_control
                                        .spinner_button 1
                                        .spinner_button 2
                            .position_spinner
                                .spinner
                                    .spinner_axis Y
                                    input.spinner_input(type="text")
                                    .spinner_control
                                        .spinner_button 1
                                        .spinner_button 2
                .control_block
                    .control_block-title Прозрачность
                    include _range
                .control_button-group
                    button.control_button-reset Сброс
                    button.control_button-download Скачать

    aside.aside-wrapper
        .language
            ul.language_list
                li.language_item
                    a.language_link(href="#") рус
                li.language_item
                    a.language_link(href="#") eng
        .socials-wrapper
            .socials
                a.socials_general.icon-40 like
                ul.socials_list
                    li.socials_item
                        a.socials_link.socials_link-facebook.icon-40(href="#") facebook
                    li.socials_item
                        a.socials_link.socials_link-twitter.icon-40(href="#") twitter
                    li.socials_item
                        a.socials_link.socials_link-vk.icon-40(href="#") vk


    footer.footer
        .footer_container
            p.footer_copy © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его



    script(src='/assets/js/foundation.min.js%=version=%')
    script(src='/assets/js/app%=suffix=%.js%=version=%')