html
  include _head
  body
    <!--[if lt IE 10]>
    <p class="browserhappy">Вы используете устаревший браузер. <br> Пожалуйста <a href='http://browsehappy.com/'>обновите его.</a></p>
    <![endif]-->

    main.container
        .container_base
            .workspace
                h1.workspace_header
                    span.workspace_title Генератор водяных знаков
                .workspace_board
                    .image-container
                        .watermark-container
        .container_side
            .control
                .control_title Настройки
                .control_block
                    .uploader-label Исходное изображение
                    label.uploader
                        .uploader_field Изображение отсутствует
                        a.uploader_button
                        input.uploader_input(type="file" data-upload-type="image" name="image")
                    .locked-block
                        .uploader-label Водяной знак
                        label.uploader
                            .uploader_field Изображение отсутствует
                            a.uploader_button
                            input.uploader_input(type="file" data-upload-type="watermark" name="watermark")
                .control_block.locked-block
                    .control_header
                        .switcher.js-switcher
                            a.switcher_item.icon_switch-single.switcher_item--active(data-mode="single" href="")
                            a.switcher_item.icon_switch-mode(data-mode="tiling" href="")
                        .control_block-title Положение
                    .position
                        .position_block

                            .sector.sector--cross
                                a.sector--current(href="" data-step-x="0" data-step-y="0")
                                a(href="" data-step-x="1" data-step-y="0")
                                a(href="" data-step-x="2" data-step-y="0")
                                a(href="" data-step-x="0" data-step-y="1")
                                a(href="" data-step-x="1" data-step-y="1")
                                a(href="" data-step-x="2" data-step-y="1")
                                a(href="" data-step-x="0" data-step-y="2")
                                a(href="" data-step-x="1" data-step-y="2")
                                a(href="" data-step-x="2" data-step-y="2")
                                .sector_cross
                                    .sector_line-x
                                    .sector_line-y

                        .position_block
                            .position_spinner
                                .spinner
                                    .spinner_axis X
                                    input.spinner_input.js-spinner-x

                            .position_spinner
                                .spinner
                                    .spinner_axis Y
                                    input.spinner_input.js-spinner-y 

                .control_block.locked-block
                    .control_block-title Прозрачность
                    include _range
                .control_button-group.locked-block
                    button.control_button-reset.js-reset Сброс
                    button.control_button-download.js-download Скачать

    include _aside-wrapper
    //- include _demo-control
    include _footer
    include _scripts