.icon-40 {
    width: 40px;
    height: 36px;
    background-image: url('../img/sprites.png');
    background-repeat: no-repeat;
}

.facebook {
    background-position: 5px 5px;

    &-hover {
        background-position: 5px -40px;
    }
}

.general {
    background-position: 5px -98px;

    &-hover {
        background-position: 5px -145px;
    }
}

.twitter {
    background-position: -45px 6px;

    &-hover {
        background-position: -45px -41px;
    }
}

.vk {
    background-position: -93px 3px;

    &-hover {
        background-position: -93px -47px;
    }
}

