$footerHeight: 50;

// -----------------------------------------
  // Font Sizes
// -----------------------------------------
$baseSize: 16px;


// -----------------------------------------
  // Font Families
// -----------------------------------------
$baseFont: Helvetica, Arial, sans-serif;